@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/MinecraftFont.ttf');
	
}

.root{
	-fx-font-family: 'Minecraft';
}

.button {
	-fx-background-image: url('../img/menu/Button.png');
	-fx-background-position: center center;
	-fx-background-size: stretch stretch;
	-fx-font-size: 22;
}

.button:hover {
	-fx-background-image: url('../img/menu/PressedButton.png');
}

.button:active {
	
}
