@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/MinecraftFont.ttf');
	
}

.root{
	-fx-font-family: 'Minecraft';
}

.label{
	-fx-font-family: 'Minecraft';
}

.button {
	-fx-background-image: url('../img/menu/Button.png');
	-fx-background-position: center center;
	-fx-background-size: stretch stretch;
	-fx-font-size: 22;
}

.button:hover {
	-fx-background-image: url('../img/menu/PressedButton.png');
}

.button:active {
	
}

.menu_section{
	-fx-background-image: url('../img/menu/MenuBackground.png');
	-fx-background-position: center center;
	-fx-background-size: stretch stretch;
}

.upgrade_section{
	-fx-background-image: url('../img/menu/Background.png');
	-fx-background-position: center center;
	-fx-background-size: stretch stretch;

	-fx-background-color: #97ab59;	
	-fx-tab-min-width: 4em;
}

.tab{
	-fx-padding: 1em 2.5em 1em 2.5em;
	-fx-background-color: #857265;
}

.tab-header-area{
	-fx-background-color: #97ab59;	
}
